{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}


<div class="example-wrapper">

    <!-- J'affiche ici toutes mes activitées -->
    <h2>Liste de toutes mes activités :</h2>

    <a href="{{ path('addActivity') }}"><button class="btn btn-primary">Ajouter une activité </button></a>

    {# <input type="text" name="recherche" id="recherche" value="Entrez votre recherche"> 

<a href="{{ path('searchActivity',{'string' : recherche.value }) }}"><button class="btn btn-primary">Rechercher </button></a> #}

    <a href="{{ path('searchActivity',{'string' : 'basket'}) }}"><button class="btn btn-primary">Rechercher avec le mot
            'basket'</button></a>

    <ul>
        {% for activity in activities %}
        <br>
        <li>
            <p>{{activity.id}} - {{activity.nom}}</p>

            <a href="{{ path('detailActivity', {'id' : activity.id}) }}"><button
                    class="btn btn-info">Détails</button></a>
            <a href="{{ path('deleteActivity', {'id' : activity.id}) }}"><button
                    class="btn btn-danger">Supprimer</button></a>
            <a href="{{ path('updateActivity', {'id' : activity.id}) }}"><button class="btn btn-warning">Modifier en
                    'Handball'</button></a>

        </li>
        {% endfor %}
    </ul>
    <br>

    {% for i in 1..nbPage  %}
    <a href="{{ path('activityPaginate', {'page' : i }) }}">Page {{ i }}</a>
    {% endfor %}

</div>
{% endblock %}