
<br>
   <h1 id="titre" class="bg-dark text-white" style="margin-bottom: 0rem;"> Mon<button class=" btn-warning p-0 text-white rounded-lg" id="boutonTitre" >Site</button> </h1>
<img src="{{ asset('images/imageHeader.jpg') }}" id="imageHeader" alt="Big black cock" style=" height: 17rem; width: 100%">
<br><br>
<nav >
    <a href="{{ path('default') }}"> <button class="btn btn-info">Accueil</button> </a>
    <a href="{{ path('destination') }}"><button class="btn btn-success">Les destinations</button></a>
    <a href="{{ path('sejour') }}"><button class="btn btn-primary">Les séjours</button></a>
    <a href="{{ path('activity') }}"><button class="btn btn-secondary">Les activités</button></a>


    <br> <br>
</nav>