{% extends 'base.html.twig' %}

{% block title %}Hello SejourController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<br>
{% include 'sejour/header.html.twig' %}

<br>
<a href="{{path('addSejour') }}"><button class="btn btn-primary">Ajouter un séjour</button></a> <br> <br>

<div >

    <h2>Tous les séjours</h2>

</div><br>


<ul>
    {# récupère la liste de sejours et boucle dessus pour créer des #}
    {% for sejour in sejours %}
        Titre : {{sejour.titre}} <br>
        Type de logement : {{sejour.typeLogement}} <br>
        Nombre de personne : {{sejour.nbPersonne}} <br>
        Category : {{sejour.category}}
        {% if sejour.category == 'Montagne'%}
            <i class="fas fa-mountain"></i>
        {% elseif sejour.category == 'Campagne' %} 
            <i class="fas fa-tree"></i>
        {% else %}
            <i class="fas fa-umbrella-beach"></i>
        {% endif %}
        <br>
        Destination : {{sejour.destination}} <br>
        Description : {{sejour.description}} <br>

        <a href="{{ path('editSejour', { 'id': sejour.id}) }}"><button class="btn btn-warning">Modifer</button></a>
        
        <br> <br>
        
    {% endfor %}
</ul>

{% endblock %}
